# ===== C / C++ =====
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.slo
*.mod
*.smod
*.lai

# ===== Python =====
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
*.egg
.eggs/
MANIFEST
*.spec
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.tox/
.nox/
.hypothesis/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/
cython_debug/
__pypackages__/
.env
.venv
env/
venv/
ENV/
.ipynb_checkpoints
.pdm.toml
poetry.toml
pyrightconfig.json
